* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    font-size: 70px; 
    font-family: Arial, Helvetica, sans-serif;  
}

#counter {
    justify-self: center;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    margin-top: 200px;
    margin-bottom: 20px;
}

div {
    display: flex;
    align-content: center;
    justify-content: center;
}

input {
    display: flex; 
 	justify-content: center; 
    text-align: center;
    height: 75px;
    font-size: 50px;
    margin: 0 15px;
    border: 3px solid grey;
    border-radius: 15%;
    width: 120px;
}

button {
    display: flex; 
 	justify-content: center; 
    align-content: center;
    text-align: center;
    height: 80px;
    width: 80px; 
    font-size: 50px;
    color: white;
    background-color: grey;
    border-radius: 15%;
}

button:hover {
    background-color: white;
    color: grey;

}